.thumbnail{
    width: 300px;
    display: block;
}

.search-bar{
     display: block;
}

.video-title{
   margin-top: 0;
}
 
.video-author{

}

.video-stats{

}

.video-preview{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 15px;
   
}

.channel-picture{
    display: inline;
    width: 50px;
    vertical-align: top;
}

.video-info{
    display: inline-block;
    width: 200px;
}

.profile-picture{
border-radius: 50px;
width:40px;
}

.thumbnail-row {
    margin-bottom:10px;
}
